GP_College/portal.s7news.net/App_Data/App_WebReferences/testS/Registeration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fb.EgyptWorldwide.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://fb.EgyptWorldwide.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fb.EgyptWorldwide.com/">
      <s:element name="Positive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="N" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PositiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PositiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PositiveSoapIn">
    <wsdl:part name="parameters" element="tns:Positive" />
  </wsdl:message>
  <wsdl:message name="PositiveSoapOut">
    <wsdl:part name="parameters" element="tns:PositiveResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="PositiveHttpGetIn">
    <wsdl:part name="N" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PositiveHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PositiveHttpPostIn">
    <wsdl:part name="N" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PositiveHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="RegisterationSoap">
    <wsdl:operation name="Positive">
      <wsdl:input message="tns:PositiveSoapIn" />
      <wsdl:output message="tns:PositiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegisterationHttpGet">
    <wsdl:operation name="Positive">
      <wsdl:input message="tns:PositiveHttpGetIn" />
      <wsdl:output message="tns:PositiveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckHttpGetIn" />
      <wsdl:output message="tns:CheckHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegisterationHttpPost">
    <wsdl:operation name="Positive">
      <wsdl:input message="tns:PositiveHttpPostIn" />
      <wsdl:output message="tns:PositiveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckHttpPostIn" />
      <wsdl:output message="tns:CheckHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterationSoap" type="tns:RegisterationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Positive">
      <soap:operation soapAction="http://fb.EgyptWorldwide.com/Positive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://fb.EgyptWorldwide.com/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterationSoap12" type="tns:RegisterationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Positive">
      <soap12:operation soapAction="http://fb.EgyptWorldwide.com/Positive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://fb.EgyptWorldwide.com/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterationHttpGet" type="tns:RegisterationHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Positive">
      <http:operation location="/Positive" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <http:operation location="/Check" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterationHttpPost" type="tns:RegisterationHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Positive">
      <http:operation location="/Positive" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <http:operation location="/Check" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registeration">
    <wsdl:port name="RegisterationSoap" binding="tns:RegisterationSoap">
      <soap:address location="http://fb.egyptworldwide.com/egyptworldwide/fb/Registeration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterationSoap12" binding="tns:RegisterationSoap12">
      <soap12:address location="http://fb.egyptworldwide.com/egyptworldwide/fb/Registeration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterationHttpGet" binding="tns:RegisterationHttpGet">
      <http:address location="http://fb.egyptworldwide.com/egyptworldwide/fb/Registeration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterationHttpPost" binding="tns:RegisterationHttpPost">
      <http:address location="http://fb.egyptworldwide.com/egyptworldwide/fb/Registeration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>